#
# https://help.github.com/articles/dealing-with-line-endings/
#
# 모든 텍스트 파일은 저장소에 LF로 정규화
* text=auto eol=lf

# Windows 배치 스크립트는 CRLF 유지
*.bat text eol=crlf
*.cmd text eol=crlf

# 바이너리
*.jar binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
